<div class="container">
    <h1>EDIT PRODUCT</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <!-- Category Name -->
      <label for="category">Category:</label><br />
      <input id="category" type="text" [value]="categoryName" disabled />
      <br />
  
      <label for="product-name">Product Name:</label><br />
      <input id="product-name" type="text" formControlName="productName" />
      <div *ngIf="profileForm.controls['productName'].touched && !profileForm.controls['productName'].valid">
        <span *ngIf="profileForm.controls['productName'].hasError('required')">Product Name is required</span>
      </div>
      <br />
  
      <label for="product-price">Product Price:</label><br />
      <input id="product-price" type="text" formControlName="productPrice" />
      <div *ngIf="profileForm.controls['productPrice'].touched && !profileForm.controls['productPrice'].valid">
        <span *ngIf="profileForm.controls['productPrice'].hasError('required')">Product Price is required</span>
      </div>
      <br />
  
      <label for="product-desc">Product Description:</label><br />
      <input id="product-desc" type="text" formControlName="productDesc" />
      <div *ngIf="profileForm.controls['productDesc'].touched && !profileForm.controls['productDesc'].valid">
        <span *ngIf="profileForm.controls['productDesc'].hasError('required')">Product Description is required</span>
      </div>
      <br />
  
      <button type="submit" [disabled]="!profileForm.valid">UPDATE PRODUCT</button>
    </form>
  
    <p>FORM STATUS: {{ profileForm.status }}</p>
  </div>
  